.homepages {
    background-color: rgb(236, 229, 229);
    width: 100%;
}

.homepages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw; /* Cambiado a vw para ajustarse al ancho de la ventana gráfica */
    height: 80vh;
}

.homepages__img {
    width: 100%;
    height: 15%;
    max-width: 500px;
}

.homepages__greeting {
    color: #dd1a1a;
    font-size: 3em;
}

.homepages__give {
    font-size: 1em;
    padding: 0.5em;
}

.homepages__form {
    display: flex;
    justify-content: center;
    margin: 0.5em;
    padding: 0.5em;
}

.homepages__input {
    padding: 0.5em 1em;
    border-radius: 0.5rem 0 0 0.5rem;
}

.homepages__btn {
    display: block;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    background: linear-gradient(to right, #dd1a1a, #FFFFFF);
    font-size: 1em;
    color: #FFFFFF;
    transition: background 1s ease;
}

.homepages__btn:hover {
    background: #FF0000;
}

/* ---------------------footer--------------------- */

.homepages__footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.homepages__footer--img {
    width: 100%; /* Cambiado a 100% para que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Usar auto para mantener la proporción original de la imagen */
    max-width: 100%; /* Añadido para garantizar que la imagen no supere el ancho del contenedor */
    max-height: 100%;/* Añadido para garantizar que la imagen no supere la altura del contenedor */
}