.pokeinfocard {
    padding: 5rem;
    width: 100vh;
}

/*---------------------- Section 1 ----------------------*/
.pokeinfocard__section1 {
    max-width: 100vh;
    min-width: 50%;
    border: outset;
/*     cursor: pointer; */
    transition: transform 300ms ease;
    background-color: whitesmoke;
    margin-bottom: 2rem;
    border-radius: 1em;
}

.pokeinfocard__section1:hover {
    transform: scale(1.03);
}

.pokeinfocard__header {
    background-color: #999;
    aspect-ratio: 2;
    position: relative;
    border-radius: 1em 1em 0em 0em;
    max-width: 100%; 
}

.pokeinfocard__img {
    width: 60%;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}

.pokeinfocard__basicdata {
    padding: 3.5em 4em 2em;
    max-width: 100vh;
    min-width: 25vh;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: -1px;
}


.pokeinfocard__id {
    width: 3em;
    padding: 0.2em;
    border: 2px solid rgba(51, 51, 51, 0.2);
    background-color: #f0f0f0;
    margin: 20px auto;
    text-align: center;
    border-radius: 0.3rem;
    font-weight: 400;
    font-size: 1.5em; 
}

.pokeinfocard__name {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1em;
}



.pokeinfocard__dimention {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.pokeinfocard__dimentionsinfo {
    display: flex;
}

.pokeinfocard__hr1 {
    margin-bottom: 1em;
    border: 3px solid #ccc4;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pokeinfocard__infow,
.pokeinfocard__infoh {
    margin: 10px;
    text-align: center;
    font-size: 15px;
}

.pokeinfocard__infow--title,
.pokeinfocard__infoh--title {
    display: block;
    font-weight: 300;
}

.pokeinfocard__infow--value,
.pokeinfocard__infoh--value {
    display: block;
    margin-top: 5px;
    font-weight: 700;
}

.pokeinfocard__containerinfo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.pokeinfocard__containertype,
.pokeinfocard__containerabilities {
    text-align: center;
}

.pokeinfocard__titletype,
.pokeinfocard__titleabilities {
    margin-bottom: 10px;
}

.pokeinfocard__type,
.pokeinfocard__abilities {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokeinfocard__type--name,
.pokeinfocard__abilities--name {
    font-size: 14px;
    width: 8em;
    padding: 0.2em;
    border: 1px solid #3334;
    margin: 0.6em;
    border-radius: 0.3rem;
    background-color: #ccc;
}




/*---------------------- Barra de stats ----------------------*/
.pokeinfocard__statsdata {
    margin-top: 1rem;
    /* Ajusta el margen superior según tus necesidades */
}

.pokeinfocard__stat {
    margin-bottom: 1rem;
    transition: transform 500ms ease, box-shadow 300ms ease;
    /* Agrega la transición a box-shadow */
}

.pokeinfocard__stat:hover {
    transform: scale(1.125);
    cursor: pointer;
    transition: 0.8;
}

.pokeinfocard__stat--name {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: start;
    margin: 0em 0em 0em 5em;
}

.pokeinfocard__stat-bar {
    height: 1.5rem;
    background-color: #ccc4;
    border-radius: 0.3rem;
    overflow: hidden;
    margin: 0em 5em 0em 5em;
    
    transition: transform 1s ease;
    
}

.pokeinfocard__stat:hover .pokeinfocard__stat-progress {
    background-color: #271e1b;
    transition: 0.8;
    
}

.pokeinfocard__stat-progress {
    height: 100%;
    background-color: #ccc;
}

.pokeinfocard__stat--value {
    font-size: 20px;
    padding-top: 1rem;
    margin-top: 0.5em;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: end;
    margin: 0em 5em 0em 0em;
}









/*---------------------- Section 2 ----------------------*/
.pokeinfocard__section2 {
    max-width: 100vh;
    min-width: 50%;
    border: outset;
    background-color: whitesmoke;
    transition: transform 300ms ease;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.pokeinfocard__section2:hover {
    transform: scale(1.03);
}

.pokeinfocard__titlemovements {
    text-align: center;
}

.pokeinfocard__hr1 {
    margin: 10px auto;
    width: 50%;
    border: 3px solid #ccc4;
}

.pokeinfocard__movements {
    max-width: 100%;
    min-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokeinfocard__move {
    margin: 0.55em;
    background-color: #ccc;
    padding: 0.1em 0.6em 0.1em 0.6em;
    border-radius: 1rem;
    transition: transform 500ms ease, box-shadow 300ms ease;
}

.pokeinfocard__move:hover {
    transform: scale(2);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}


/*------------------------------ COLOR ------------------------------*/

/*------------------------------ Grass ------------------------------*/
.grass-gradient{
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);

}

.grass-border{
    border-color: #ABDAC6;
}

.grass-font{
    color: #ABDAC6;
}

.grass-value{
    color: #ABDAC6;
}

/*------------------------------ fire ------------------------------*/
.fire-gradient{
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.fire-border{
    border-color: #E35825;
}

.fire-font{
    color: #E35825;
}

.fire-value{
    color: #E35825;
}

/*------------------------------ Water ------------------------------*/
.water-gradient{
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.water-border{
    border-color: #1479FB;
}

.water-font{
    color: #1479FB;
}

.water-value{
    color: #1479FB;
}

/*------------------------------ bug ------------------------------*/
.bug-gradient{
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.bug-border{
    border-color: #3BB039;
}

.bug-font{
    color: #3BB039;
}

.bug-value{
    color: #3BB039;
}

/*------------------------------ Normal ------------------------------*/
.normal-gradient{
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.normal-border{
    border-color: #BC6B7C;
}

.normal-font{
    color: #BC6B7C;
}

.normal-value{
    color: #BC6B7C;
}

/*------------------------------ Fighting ------------------------------*/
.fighting-gradient{
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.fighting-border{
    border-color: #F1613C;
}

.fighting-font{
    color: #F1613C;
}

.fighting-value{
    color: #F1613C;
}

/*------------------------------ Poison ------------------------------*/
.poison-gradient{
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.poison-border{
    border-color: #A564E3;
}

.poison-font{
    color: #A564E3;
}

.poison-value{
    color: #A564E3;
}

/*------------------------------ Gosth ------------------------------*/
.gosth-gradient{
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.gosth-border{
    border-color: #454AA8;
}

.gosth-font{
    color: #454AA8;
}

.gosth-value{
    color: #454AA8;
}

/*------------------------------ Rock ------------------------------*/
.rock-gradient{
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.rock-border{
    border-color: #8D8D94;
}

.rock-font{
    color: #8D8D94;
}

.rock-value{
    color: #8D8D94;
}

/*------------------------------ Dark ------------------------------*/
.dark-gradient{
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.dark-border{
    border-color: #0D1211;
}

.dark-font{
    color: #0D1211;
}

.dark-value{
    color: #0D1211;
}

/*------------------------------ Ice ------------------------------*/
.ice-gradient{
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.ice-border{
    border-color: #64CBF5;
}

.ice-font{
    color: #64CBF5;
}

.ice-value{
    color: #64CBF5;
}

/*------------------------------ Steel ------------------------------*/
.steel-gradient{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.steel-border{
    border-color: #728881;
}

.steel-font{
    color: #728881;
}

.steel-value{
    color: #728881;
}

/*------------------------------ Dragon ------------------------------*/
.dragon-gradient{
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.dragon-border{
    border-color: #56A4AE;
}

.dragon-font{
    color: #56A4AE;
}

.dragon-value{
    color: #56A4AE;
}

/*------------------------------ Fairy ------------------------------*/
.fairy-gradient{
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}

.fairy-border{
    border-color: #C23867;
}

.fairy-font{
    color: #C23867;
}

.fairy-value{
    color: #C23867;
}

/*------------------------------ Electric ------------------------------*/
.electric-gradient{
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}

.electric-border{
    border-color: #2B319B;
}

.electric-font{
    color: #2B319B;
}

.electric-value{
    color: #2B319B;
}

/*------------------------------ Ground ------------------------------*/
.ground-gradient{
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.ground-border{
    border-color: #895C1A;
}

.ground-font{
    color: #895C1A;
}

.ground-value{
    color: #895C1A;
}

/*------------------------------ Psychic ------------------------------*/
.psychic-gradient{
    background: linear-gradient(179.75deg, #E62D2D -19.96%, #D13E3E 43.67%, #F07F7F 138.4%);
}

.psychic-border{
    border-color: #D13E3E;
}

.psychic-font{
    color: #D13E3E;
}

.psychic-value{
    color: #D13E3E;
}

/*------------------------------ Flying ------------------------------*/
.flying-gradient{
    background: linear-gradient(179.75deg, #E8AE1B -19.96%, #D69638 43.67%, #BDEBFE 138.4%);
}

.flying-border{
    border-color: #D69638;
}

.flying-font{
    color: #D69638;
}

.flying-value{
    color: #D69638;
}
