.selecttype{
    font-size: 1.4rem;
    background-color: blueviolet;
} 

.selecttype__container{
    font-size: 45px;
}

.selecttype__allpoke{
    font-size: 20px;
}

.selecttype__listype{
    font-size: 20px;
}